body {
  background-image: url("Photos/rough-black.jpg");
}
.navbar {
  background-image: url("Photos/rough-black.jpg");
}

p .contact-description {
  color: white;
}

.dropdown-item {
  color: white;
}

.nav-link, .navbar-brand {
  color: white;
}

.nav-link:hover, .navbar-brand:hover {
  color: rgb(216, 10, 10);
 }

.carousel-title {
  margin: 50% 0; 
}

.carousel-title h1 {
  font-size: 3em; 
}

.card-img {
  height: 10vw;
}

.card-title {
  color: black;
}

.sec-description {
  color: white;
}

.btn-primary {
  background-color: rgb(216, 10, 10) !important;
  border-color: black !important;
}


h1, h2, h5, a {
  color: white;
} 
  