body {
    background-image: url("Photos/rough-black.jpg");
  }
  .navbar {
    background-image: url("Photos/rough-black.jpg");
    color: white;
   }

   p .contact-description {
       color: white;
   }

   .navlink a {
    color: white;
   }

   .nav.navbar-nav li a {
    color: #fff;
  }

.carousel-title {
    margin: 50% 0; 
}

.carousel-title h1 {
font-size: 3em; 
}

  .card-img {
      height: 10vw;
  }

  h1, h2, h5, a {
      color: white;
  } 
  